@page "/todo"
@using BlazorStateManagement.Store
@using Fluxor
@inject IDispatcher Dispatcher
@inject IState<TodoState> TodoState

<h3>TODO List</h3>

<ul>
    @foreach (var todo in TodoState.Value.Todos)
    {
        <li>
            @todo.Description
            @if (!todo.IsCompleted)
            {
                <button @onclick="() => MarkComplete(todo.Id)">Complete</button>
            }
            <button @onclick="() => DeleteTask(todo.Id)">Delete</button>
        </li>
    }
</ul>

<input @bind="newTaskDescription" placeholder="Add a new task..." />
<button @onclick="AddTask">Add Task</button>

@code {
    private string newTaskDescription;

    private void AddTask()
    {
        if (!string.IsNullOrWhiteSpace(newTaskDescription))
        {
            Dispatcher.Dispatch(new AddTodoAction(newTaskDescription));
            Dispatcher.Dispatch(new AddNotificationAction("Se creo nueva Task: " + newTaskDescription));
            newTaskDescription = string.Empty;
        }
    }

    private void MarkComplete(Guid id)
    {
        Dispatcher.Dispatch(new CompleteTodoAction(id));
    }

    private void DeleteTask(Guid id)
    {
        Dispatcher.Dispatch(new DeleteTodoAction(id));
    }
}
